$back-color: rgb(207, 207, 207);
$txt-color: #444444;
$family: 'Segoe UI', Arial, Verdana, sans-serif;

:host {
  padding: 0;
}

div.aviso {
  background-color: $back-color;
  color: $txt-color;
  margin: 0;
  font-family: $family;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 6rem;
}

div.aviso div.codigo {
  color: inherit;
  font-family: inherit;
  margin: auto;
  text-align: center;
  width: max-content;
  font-size: 8em;
  letter-spacing: 1rem;
}

div.aviso div.label {
  color: inherit;
  font-family: inherit;
  margin: auto;
  text-align: center;
  width: max-content;
  font-size: 2em;
}

div.aviso a {
  text-decoration: none;
  text-align: center;
  margin:auto;
  display: block;
  margin-top: 2em;
  color: #dddddd;
  font-size: 20px;
  padding: 8px 16px 12px 16px;
  background-color: #3b4f5f;
  border-radius: 8px;
  width: fit-content
}
