div.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4em 1em 1em 1em;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
div {
  text-align: center;
  margin: auto;
}
