
<div class="info-container">
	<div class="info-description">
		<div class="description-header">
			<h4 class="description-title">Encuentra platillos deliciosos</h4>
			<div class="line"></div>
		</div>
		<p class="description-body">
			Contamos con una variedad de platillos ya preparados: desde paella y pasta, hasta sushi y arroz chino. Encuentra restaurantes dedicados a diferentes comidas en el país. 
		</p>
  </div>
  <div class="info-picture">
    <img src="" alt="Platillos">
  </div>
</div>


<div class="info-container">
  <div class="info-picture">
    <img src="" alt="Ingredientes">
  </div>
  <div class="info-description">
		<div class="description-header">
			<h4 class="description-title">Encuentra ingredientes de calidad</h4>
			<div class="line"></div>
		</div>
		<p class="description-body">
			¿Quieres preparar tus propias comidas con tu propio sasón? Puedes encontrar los ingredientes que necesites en nuestra plataforma. Cumplimos con altos estándares de calidad.
		</p>
  </div>
</div>
