<app-header></app-header>

<div class="info-container">
	<div class="info-description">
		<div class="description-header">
			<h4 class="description-title">Encuentra platillos deliciosos</h4>
			<div class="line"></div>
		</div>
		<p class="description-body">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsum id molestiae, debitis esse eum cumque ad ducimus, harum tempora quas ab nulla aspernatur, repellat distinctio voluptatibus quibusdam! Placeat, error.
		</p>
  </div>
  <div class="info-picture">
    <img src="" alt="Platillos">
  </div>
</div>


<div class="info-container">
  <div class="info-picture">
    <img src="" alt="Ingredientes">
  </div>
  <div class="info-description">
		<div class="description-header">
			<h4 class="description-title">Encuentra ingredientes de calidad</h4>
			<div class="line"></div>
		</div>
		<p class="description-body">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsum id molestiae, debitis esse eum cumque ad ducimus, harum tempora quas ab nulla aspernatur, repellat distinctio voluptatibus quibusdam! Placeat, error.
		</p>
  </div>
</div>
<app-footer></app-footer>
